<div class="nav">
  <h3><%= link_to "ShakerðŸ¸", cocktails_path %></h3>

</div>

<div class="container pt-3">
  <p>Add a cocktail</p>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit%>
  <% end %>

</div>
